.btn-flat{
    border-radius: 0px;
    border: 1px solid #eee;
    background-color: #FFF;
    color: #000;
}
.btn-flat:hover{
    background-color: rgb(235, 211, 211);
    transition: none;
    
}

.root{
 position: relative;
    border: 1px solid white;

}

article > *, article > * > *{
  display: block;
width: 100% !important;
height: 430px !important;
/* border: 2px white solid; */
}
.pure-black{
    background-color: #fff;
    border: 1px solid #eee;
    /* background-color: #131722; */
}
